@import "../variables.scss";

.site-card {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15rem auto 8rem auto auto;
  box-shadow: $shadow;
  background: white;
  padding-bottom: .5rem;
  .hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  h3, p, a {
    padding: .5rem;
  }
  p {
    overflow: hidden;
    line-height: 1.5rem;
  }
  a {
    text-align: right;
    font-weight: bold;
  }
  .icons {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    .favorites, .visited, .wants, .favorites-on, .visited-on, .wants-on {
      width: 2.5rem;
      height: 2.5rem;
      margin: .5rem;
      &:hover {
        cursor: pointer;
      }
    }
    .favorites {
      background-image: url('../assets/icons/fav.svg');
      &:hover {
        background-image: url('../assets/icons/fav-on.svg');
      }
    }
    .favorites-on {
      background-image: url('../assets/icons/fav-on.svg');
      &:hover {
        background-image: url('../assets/icons/fav.svg');
      }
    }
    .visited {
      background-image: url('../assets/icons/visited.svg');
      &:hover {
        background-image: url('../assets/icons/visited-on.svg');
      }
    }
    .visited-on {
      background-image: url('../assets/icons/visited-on.svg');
      &:hover {
        background-image: url('../assets/icons/visited.svg');
      }
    }
    .wants {
      background-image: url('../assets/icons/want.svg');
      &:hover {
        background-image: url('../assets/icons/want-on.svg');
      }
    }
    .wants-on {
      background-image: url('../assets/icons/want-on.svg');
      &:hover {
        background-image: url('../assets/icons/want.svg');
      }
    }
  }
}
