.site-card {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15rem auto 8rem auto auto;
  box-shadow: 5px 5px 25px #202a25;
  background: white;
  padding-bottom: .5rem; }
  .site-card .hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .site-card h3, .site-card p, .site-card a {
    padding: .5rem; }
  .site-card p {
    overflow: hidden;
    line-height: 1.5rem; }
  .site-card a {
    text-align: right;
    font-weight: bold; }
  .site-card .icons {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center; }
    .site-card .icons .fav, .site-card .icons .visited, .site-card .icons .want {
      width: 2.5rem;
      height: 2.5rem;
      margin: .5rem; }
      .site-card .icons .fav:hover, .site-card .icons .visited:hover, .site-card .icons .want:hover {
        cursor: pointer; }
    .site-card .icons .fav {
      background-image: url("../assets/icons/fav.svg"); }
      .site-card .icons .fav:hover {
        background-image: url("../assets/icons/fav-on.svg"); }
    .site-card .icons .visited {
      background-image: url("../assets/icons/visited.svg"); }
      .site-card .icons .visited:hover {
        background-image: url("../assets/icons/visited-on.svg"); }
    .site-card .icons .want {
      background-image: url("../assets/icons/want.svg"); }
      .site-card .icons .want:hover {
        background-image: url("../assets/icons/want-on.svg"); }
