@import "./App/styles.css";
@import "./Dashboard/styles.css";
@import "./SiteList/styles.css";
@import "./Profile/styles.css";
@import "./Header/styles.css";
@import "./Nav/styles.css";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
