@import url(./App/styles.css);
@import url(./Dashboard/styles.css);
@import url(./SiteList/styles.css);
@import url(./Profile/styles.css);
@import url(./Header/styles.css);
@import url(./Nav/styles.css);
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }
