.welcome__button__google, .welcome__button__twitter, .welcome__button__facebook, .welcome__button__github {
  transition-duration: 0.3s;
  height: 4rem;
  width: 30rem;
  margin: auto;
  font-size: 1.5em;
  color: whitesmoke;
  background-repeat: no-repeat;
  background-position: -4rem;
  background-size: 45% 45%;
  border-radius: 12px;
  border: none;
  display: flex;
  justify-content: center;
  padding-left: 4rem; }
  .welcome__button__google:hover, .welcome__button__twitter:hover, .welcome__button__facebook:hover, .welcome__button__github:hover {
    cursor: pointer; }

.welcome {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.welcome__cover {
  background-color: rgba(255, 255, 255, 0.7); }

.welcome,
.welcome__cover {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.welcome__content {
  width: 45%; }

.welcome__logo__container,
.welcome__text__container {
  margin-bottom: 2%; }

.welcome__logo__container {
  height: 5%; }

.welcome__text__container {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  color: #202a25;
  margin-bottom: 2.5rem; }

.welcome__title {
  text-align: center; }

.welcome__text {
  font-size: 1.3em;
  line-height: 1.5;
  font-weight: 400;
  padding: 1rem; }

.welcome__button__container {
  display: flex;
  flex-direction: column; }

.welcome__button__google,
.welcome__button__twitter,
.welcome__button__facebook {
  margin-bottom: 0.5%; }

.welcome__button__google {
  background-color: #e8453c;
  background-image: url("../assets/icons/google-logo-dark.svg");
  border-bottom: 3px solid #a72719; }

.welcome__button__google:hover {
  background-color: #a72719;
  background-image: url("../assets/icons/google-logo-white.svg");
  border-bottom: 3px solid #e8453c; }

.welcome__button__twitter {
  background-color: #1da1f2;
  background-image: url("../assets/icons/twitter-logo-dark.svg");
  border-bottom: 3px solid #0f75b8; }

.welcome__button__twitter:hover {
  background-color: #0f75b8;
  background-image: url("../assets/icons/twitter-logo-white.svg");
  border-bottom: 3px solid #1da1f2; }

.welcome__button__facebook {
  background-color: #3b5998;
  background-image: url("../assets/icons/facebook-logo-dark.svg");
  border-bottom: 3px solid #28417b; }

.welcome__button__facebook:hover {
  background-color: #28417b;
  background-image: url("../assets/icons/facebook-logo-white.svg");
  border-bottom: 3px solid #3b5998; }

.welcome__button__github {
  background-color: #444444;
  background-image: url("../assets/icons/github-logo-dark.svg");
  border-bottom: 3px solid #262626; }

.welcome__button__github:hover {
  background-color: #262626;
  background-image: url("../assets/icons/github-logo-white.svg");
  border-bottom: 3px solid #444444; }
