@import "../variables.scss";

%login-button {
  transition-duration: 0.3s;

  height: 5rem;
  width: 30rem;
  margin: auto;
  font-size: 1.5em;
  color: whitesmoke;
  background-repeat: no-repeat;
  background-position: -4rem;
  background-size: 45% 45%;
  border-radius: 12px;
  border: none;

  display: flex;
  justify-content: center;
  padding-left: 4rem;
  &:hover {
    cursor: pointer;
  }
}

@mixin button-style($bgColor, $path, $borderColor) {
  background-color: $bgColor;
  background-image: url($path);
  border-bottom: 3px solid $borderColor;
}

.welcome {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.welcome__cover {
  background-color: $photo-overlay;
}
.welcome,
.welcome__cover {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome__content {
  width: 45%;
}

.welcome__logo__container,
.welcome__text__container {
  margin-bottom:2%;
}

.welcome__text {
  font-size: 1.3em;
  line-height: 1.5;
  font-weight: 400;
  padding: 1rem;
  margin-bottom: 2.5rem;
  background-color: $photo-overlay;
  color: $dark;
}

.welcome__button__container {
  display: flex;
  flex-direction: column;
}

.welcome__button__google,
.welcome__button__twitter,
.welcome__button__facebook {
  margin-bottom: 1%;
}

.welcome__button__google {
  @extend %login-button;
  @include button-style($google,'../assets/icons/google-logo-dark.svg', $google-dark);
}

.welcome__button__google:hover {
  @include button-style($google-dark, '../assets/icons/google-logo-white.svg', $google);
}

.welcome__button__twitter {
  @extend %login-button;
  @include button-style($twitter, '../assets/icons/twitter-logo-dark.svg', $twitter-dark);
}

.welcome__button__twitter:hover {
  @include button-style($twitter-dark, '../assets/icons/twitter-logo-white.svg', $twitter);
}

.welcome__button__facebook {
  @extend %login-button;
  @include button-style($facebook, '../assets/icons/facebook-logo-dark.svg', $facebook-dark);
}

.welcome__button__facebook:hover {
  @include button-style($facebook-dark, '../assets/icons/facebook-logo-white.svg', $facebook);
}

.welcome__button__github {
  @extend %login-button;
  @include button-style($github, '../assets/icons/github-logo-dark.svg', $github-dark);
}

.welcome__button__github:hover {
  @include button-style($github-dark, '../assets/icons/github-logo-white.svg', $github);
}
