@import "../variables.scss";

%login-button {
  transition-duration: 0.3s;

  height: 5rem;
  width: 50%;
  margin-left: 25%;
  font-size: 1.5em;
  color: whitesmoke;
  background-repeat: no-repeat;
  background-position: -15% 50%;
  background-size: 45% 45%;
  border-radius: 12px;
  border: none;

  display: flex;
  justify-content: flex-start;
  padding-left: 12.5%;
}

@mixin button-style($bgColor, $path, $borderColor) {
  background-color: $bgColor;
  background-image: url($path);
  border-bottom: 3px solid $borderColor;
}

.welcome,
.welcome__cover {
  height: 100vh;
  width: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.welcome__content {
  width: 45%;
}

.welcome__logo__container,
.welcome__text__container {
  margin-bottom:2%;
}

.welcome__text {
  font-size: 1.2em;
  line-height: 1.5;
  color: $welcome-text;
}

.welcome__button__container {
  display: flex;
  flex-direction: column;
}

.welcome__button__google,
.welcome__button__twitter {
  margin-bottom: 4%;
}

.welcome__button__google {
  @extend %login-button;
  @include button-style($google,'../assets/icons/google-logo-dark.svg', $google-dark);
}

.welcome__button__google:hover {
  @include button-style($google-dark, '../assets/icons/google-logo-white.svg', $google);
}

.welcome__button__twitter {
  @extend %login-button;
  @include button-style($twitter, '../assets/icons/twitter-logo-dark.svg', $twitter-dark);
}

.welcome__button__twitter:hover {
  @include button-style($twitter-dark, '../assets/icons/twitter-logo-white.svg', $twitter);
}

.welcome__button__facebook {
  @extend %login-button;
  @include button-style($facebook, '../assets/icons/facebook-logo-dark.svg', $facebook-dark);
}

.welcome__button__facebook:hover {
  @include button-style($facebook-dark, '../assets/icons/facebook-logo-white.svg', $facebook);
}